<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><img src="../../../assets/images/logo-text.png" alt="" />
                <div class="logo-text">
                    <h2>Hire</h2>
                    <p>Powered by Appy Pie</p>
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars" style="color: #fff;"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-menu">
                    <li><a href="#"><img src="../../../assets/images/internet.svg"></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>