<app-header></app-header>

<section class="login-section">
    <div class="container">
        <div class="login-inner-wrapper">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                    <div class="login-form">
                        <form action="signup1.html">

                            <h2 class="title-light-grey">Let’s Get You Signed Up</h2>

                            <div class="form-box">
                                <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
                                <label for="nme"><span>Email Address</span></label>
                                <button class="close-icon" type="reset"></button>
                            </div>

                            <div class="form-box">
                                <input type="text" name="name1" class="question" id="nme2" required
                                    autocomplete="off" />
                                <label for="nme2"><span>Password <strong>*</strong></span></label>
                                <button class="close-icon" type="reset"></button>
                            </div>

                            <div class="form-box">
                                <input type="text" name="name2" class="question" id="conf-pswd" required
                                    autocomplete="off" />
                                <label for="conf-pswd"><span>Confirm Password <strong>*</strong></span></label>
                                <button class="close-icon" type="reset"></button>
                            </div>



                            <p>Already have an account? <a href="login.html">Login</a></p>

                            <div class="form-box login-social-button">

                                <ul>
                                    <li><input type="submit" name="" class="input-submit" value="Sign Up"></li>
                                    <li>or</li>
                                    <li><a href="#"><img src="../../../../assets/images/icon/linkedin.png"></a> <a
                                            href="#"> <img src="../../../../assets/images/icon/google.png"></a></li>

                                </ul>

                            </div>

                            <div class="form-group">
                                <input type="checkbox" id="html">
                                <label for="html">By signing in you agree to our <a href="#"
                                        style="font-size: 1em !important;" class="simple-link">Terms & Conditions </a>,
                                    Privacy Policy</label>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="login-img">
                        <img src="../../../../assets/images/login-clipart.svg" class="img-fluid" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="login-payment-option">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-9 col-lg-9 col-xl-9">
                    <img src="../../../../assets/images/icon/payment-options.png" class="img-fluid">
                </div>

                <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3 login-secure-area">
                    <img src="../../../../assets/images/icon/lock.png">
                    <a href="">Secure Area</a>
                </div>

            </div>
        </div>
    </div>


</section>



<div class="ad-shape-login">
    <img src="../../../../assets/images/login-shape.svg">
</div>

<app-footer></app-footer>